#homepage-hero {
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-image: url("/assets/main.jpeg");
}

.github-button {
  color: white;
  background: black;
  border-radius: 30px;
}

.github-button:hover {
  color: black;
  background: white;
}

.nav:hover {
  color: #c4e538;
}

.nav-link {
  color: white;
}

.nav:focus {
  color: white;
}

.footerNav:hover {
  color: #c4e538;
}

.pointer:hover {
  cursor: pointer;
}

.project-tile {
  border-radius: 10px;
  margin-bottom: 20px;
}

.project:hover {
  cursor: pointer;
  opacity: 0.7;
}

.tech-logo {
  height: 150px;
  /* width: 200px; */
  width: auto;
  border-radius: 20px;
}

#unifella-hero {
  height: 50vh;
  width: 100%;
  padding-bottom: 20px;
  background-color: black;
  color: white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-image: url("assets/unifellaHeader.png");
}
#bugimall-hero {
  height: 50vh;
  width: 100%;
  padding-bottom: 20px;
  background-color: black;
  color: white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-image: url(https://images.unsplash.com/photo-1557821552-17105176677c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1332&q=80);
}

#bugipay-hero {
  height: 50vh;
  width: 100%;
  padding-bottom: 20px;
  background-color: black;
  color: white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-image: url(https://images.unsplash.com/photo-1608286022625-bc07f7a21154?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
}

#unifella-about {
}

.parallax {
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-right: 30px;
  background-position: left;
  background-size: 50%;
}

.footer {
  /* position: fixed; */
  margin-top: 70px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.emoji {
  padding-right: 10px;
}

.contactSub {
  /* color: #fdcb6e; */

  background-color: black;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;
}
